@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* General Styling */
:root {  
    --font-neutral: #eef1f6;
    --primary: #801d80;
    --secondary: #42c1ca;
    --tertiary: #4b0d49;
    --bg-footer: #161727;
    --bg-hero: #110318;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    border-radius: 0.5em;
}

a {
    text-decoration: none;
    color: var(--font-neutral)
}

a:hover { 
    text-shadow: 0 0 5px #0011ff; 
}

h4 {
    font-weight: 600;
}

h5 {
    margin-bottom: 45%;
}

/* SECTION 1 - NAVBAR */
.logos {
    background-color: var(--secondary);
    padding: 0.2em;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.6);
}

.logos:hover {
    background-color: var(--primary);
}

.bg1 {
    background-color: var(--bg-footer);
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    color: var(--font-neutral);
}

.nav {
    margin: 0em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    padding: 4em;
    background-color: var(--bg-hero);
}

.nav-title {
    font-size: 1.475em;
    flex-basis: 30%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 70%;
    gap: 2em;
    list-style: none;
    font-weight: 700;
}

.navbar li a {
    color: var(--font-neutral);
}

.navbar li a:active {
    color: var(--primary);
}

/* section animated colored separations */
.border {

    border-bottom: 7px solid;
    animation: colorWash 3s infinite;
}

@keyframes colorWash {
    from {border-bottom-color: var(--primary);}
    42%{border-bottom-color: var(--secondary);}
    to {border-bottom-color: var(--primary);}
}

/* Underline Animation */
.un {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(var(--secondary) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

/* Button Style, Before Animation & Hover */
.btn {
    color: var(--font-neutral);
    background-color: var(--primary);
    padding: 1.2em;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.6);
    font-size: 0.90em;
    font-weight: 800;
}

.btn:hover {
    color: var(--secondary);
    background-color: var(--secondary);
}

.btn, .btn-glow {
    position: relative;
    overflow: hidden;
    z-index: 0;
    max-height: 60px;
    max-width: 260px;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
}

.btn:before, .btn-glow:before {
    content: '';
    width: 99999px;
    height: 99999px;
    top: 50%;
    left: 50%;
    background-image: conic-gradient(rgba(0,0,0,0), #7c97ff, rgba(0,0,0,0) 25%);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: -2;
    animation: glow 1s linear infinite;
}

.btn-glow {
    filter: blur(10px);
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2.5px;
    top: 2.5px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    background: var(--primary);
    border-radius: 0.5em;
}

@keyframes glow {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

/* SECTION 2 - PROJECTS */
.bg4 {
    background-image: url("./Images/carbon_fibre.webp");
    padding: 4em 0em;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    color: var(--font-neutral);
}

/* SECTION A - PROJECT 1 */
.projects-title {
    color: var(--secondary);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    width: 235px;
    margin: 0 2em;
    margin-bottom: 4em;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 4px solid 
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 2em 4em;
    position: relative;
}

.projects-subtitle {
    margin-bottom: 2em;
    font-size: 1.5rem;
    color: var(--secondary);
}

.projects-paragraph {
    width: 60%;
    background-color: var(--bg-footer);
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.prj1-img {
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0 2em;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.6);
}

/* SECTION 4 - FOOTER */
.bg3 {
    background-color: var(--bg-footer);
    padding: 2em 0em;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--font-neutral);
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em 0 4em 0em;
}

.logos2 {
    background-color: var(--primary);
    padding: 0.2em;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.6);
}

@media(max-width: 900px){
    .nav {
        margin: 0em;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    .navbar {
        gap: 1em;
    }

    .bg1 {
        font-size: 0.95em;
    }

    .logos {
        width: 30px;
        height: 30px;
    }

    .btn {
        font-size: 0.75em;
        padding: 0.35em;
    }

    .flex-container {
        margin: 2em 1em;
        text-align: justify;
    }

    .prj1-img {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .prj1-vid {
        width: 96%;
        margin: 40% 0em 0em 0.5em;
    }

    .projects-title {
        margin: 0 auto;
        margin-bottom: 2em;
    }
    
    .projects-paragraph {
        width: 100%;
    }
}